.outer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.inner-wrapper {
	flex: 1 0 auto;
	 background: red;
	 height: 200px;
	 color: white;
}